<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
{% include "header.html" %}
<main>
    <div class="container">
        {% if error %}
        <span class="error-message">{{ error }}</span>
        {% endif %}
        <h1>Welcome to Tennis Scoreboard</h1>
        <p>Manage your tennis matches, record results, and track rankings</p>
        <div class="welcome-image"></div>
        <div class="form-container center">
            <a class="homepage-action-button" href="/new-match">
                <button class="btn start-match">
                    Start a new match
                </button>
            </a>
            <a class="homepage-action-button" href="/matches">
                <button class="btn view-results">
                    View match results
                </button>
            </a>
        </div>
    </div>
</main>
{% include "footer.html" %}
</body>
</html>
