<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
{% include "header.html" %}
<main>
    <div class="container">
        <h1>Matches</h1>
        <form class="input-container" action="/matches/" method="get">
            <input class="input-filter" name="filter_by_player_name" placeholder="Filter by name" type="text"
                   value="{{ match_filters.filter_by_player_name }}"/>
            <!-- Чекбоксы для фильтров -->
            <div class="checkbox-filters">
                <label>
                    <input type="checkbox" name="finished" value="true"
                           {% if match_filters.finished %}checked{% endif %}>
                    finished
                </label>
                <label>
                    <input type="checkbox" name="ongoing" value="true"
                           {% if match_filters.ongoing %}checked{% endif %}>
                    ongoing
                </label>
            </div>

            <button class="btn-filter" type="submit">Apply</button>
            <a href="/matches/">
                <button class="btn-reset" type="button">Reset</button>
            </a>
        </form>
        {% if error %}
        <span class="error-message">{{ error }}</span>
        {% endif %}

        <table class="table-matches">
            <tr>
                <th>Player One</th>
                <th>Player Two</th>
                <th>Winner</th>
            </tr>
            {% for match in matches %}
            <tr>
                <td>
                    {{ match.player1.name|title }}
                </td>
                <td>
                    {{ match.player2.name|title }}
                </td>
                <td>
                    {% if match.winner %}
                    <a href="/match-result/?uuid={{ match.uuid }}">
                        <span class="winner-name-td">{{ match.winner.name|title }}</span>
                    </a>
                    {% else %}
                    <a href="/match-score/?uuid={{ match.uuid }}">
                        <span class="ongoing-td">ongoing</span>
                    </a>
                    {% endif %}
                    <span class="match-format">
                {% if match.score.is_best_of_five %}bo5{% else %}bo3{% endif %}
            </span>
                </td>
            </tr>
            {% endfor %}
        </table>


        <div class="pagination">
            {% if match_filters.page_number > 1 %}
            <a class="prev"
               href="/matches/?page_number={{ match_filters.page_number - 1 }}&filter_by_player_name={{ match_filters.filter_by_player_name }}&finished={{ match_filters.finished }}&ongoing={{ match_filters.ongoing }}">
                &lt; </a>
            {% else %}
            <span class="prev disabled"> &lt; </span>
            {% endif %}

            {% for page in range(1, total_pages + 1) %}
            {% if page == match_filters.page_number %}
            <span class="num-page current">{{ page }}</span>
            {% else %}
            <a class="num-page"
               href="/matches/?page_number={{ page }}&filter_by_player_name={{ match_filters.filter_by_player_name }}&finished={{ match_filters.finished }}&ongoing={{ match_filters.ongoing }}">{{
                page }}</a>
            {% endif %}
            {% endfor %}

            {% if match_filters.page_number < total_pages %}
            <a class="next"
               href="/matches/?page_number={{ match_filters.page_number + 1 }}&filter_by_player_name={{ match_filters.filter_by_player_name }}&finished={{ match_filters.finished }}&ongoing={{ match_filters.ongoing }}">
                &gt; </a>
            {% else %}
            <span class="next disabled"> &gt; </span>
            {% endif %}
        </div>
    </div>
</main>
{% include "footer.html" %}
</body>
</html>
