<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
{% include "header.html" %}
<main>
    <div class="container">
        <div>
            <h1>Start new match</h1>
            <div class="new-match-image"></div>
            <div class="form-container center">
                <form method="post" action="">
                    <p style="color: red;">Sample error message</p>
                    <label class="label-player" for="playerOne">Player one</label>
                    <input class="input-player" name="playerOne" placeholder="Name" type="text" required
                           title="Enter a name">
                    <label class="label-player" for="playerTwo">Player two</label>
                    <input class="input-player" name="playerTwo" placeholder="Name" type="text" required
                           title="Enter a name">
                    <input class="form-button" type="submit" value="Start">
                </form>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}
</body>
</html>
